{% extends 'layout.html' %}

{% block title %}
    Welcome to Admin Login Page
{% endblock %}

{% block content %}

    {% if current_user('manager') %}
        info1: {{ current_user('manager').username }}<br/>
        <a href="{{ url_for('admin.secret') }}">Secret Page</a>
        <br/>
        <a href="{{ url_for('admin.logout') }}">Logout Admin</a>
    {% else %}
        info2: {{ current_user('manager').username }}<br/>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username }}
            <br/>
            {{ form.password }}
            <br/>
            {{ form.submit }}
        </form>
    {% endif %}

{% endblock %}
